.header {
  padding: 0px 52px 0px 53px;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue, #005564);
}
.header-title {
  color: var(--white, #fff);
  text-align: center;
  font-weight: 400;
  font-size: 60px;
}
